@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  /* Фоновый цвет и фоновый рисунок*/
  color: #fff;
  /*Цвет текста на странице*/
  background-attachment: fixed;
  /* Фон страницы фиксируется */
  background-repeat: repeat-x;
  /* Изображение повторяется по горизонтали */ }

.container {
  position: fixed;
  z-index: 52; }

.header {
  padding: 0px 0px 0px 300px;
  margin: 0 auto;
  height: 30px;
  width: 1100px;
  position: relative;
  bottom: 70px;
  left: 35px;
  z-index: 50; }

.header:before {
  position: fixed;
  content: '';
  top: 0;
  width: 800px;
  height: 55px;
  background-color: #000;
  opacity: 0.8;
  z-index: 2;
  border-radius: 0px 0px 15px 15px; }

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  margin: 0 auto;
  width: 300px;
  position: relative;
  bottom: 4px;
  right: 400px;
  z-index: 3;
  white-space: nowrap;
  font-size: 55px;
  font-weight: 600;
  font-family: "Britannic Bold";
  color: #c2430b;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: rotateY(10deg) rotateX(30deg) translateZ(0);
  transform: rotateY(10deg) rotateX(30deg) translateZ(0);
  text-shadow: 2px 2px 2px #000; }

@-webkit-keyframes ಠ_ಠ {
  100% {
    -webkit-transform: rotateY(-20deg) rotateX(30deg);
    transform: rotateY(-20deg) rotateX(30deg); } }

@keyframes ಠ_ಠ {
  100% {
    -webkit-transform: rotateY(-20deg) rotateX(30deg);
    transform: rotateY(-20deg) rotateX(30deg); } }

@media (max-width: 1067px) {
  .header__logo {
    position: relative;
    left: 39px; } }

.header__logo p {
  position: relative;
  right: 34px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #000;
  letter-spacing: 4px;
  text-shadow: 0px 0px 0px; }

.header__burger {
  position: relative;
  display: none; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -7px;
  z-index: 2;
  font-family: "Montserrat";
  color: #ffff;
  font-weight: 300; }

.header__list a {
  letter-spacing: 1px;
  font-size: 11px;
  position: relative;
  left: 8px;
  top: -2px; }

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 26px; }

.header__link {
  color: #ffff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none; }

.header__link:hover {
  text-shadow: 0px 2px 2px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.header__link:active {
  color: #8080;
  text-shadow: 0px 1px 0px #ffff;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s; }

@media (max-width: 1067px) {
  .header:before {
    display: none; }
  .header__burger {
    display: block;
    position: relative;
    right: 320px;
    width: 40px;
    height: 20px;
    position: relative;
    z-index: 3; }
  .header__burger span {
    position: absolute;
    background-color: #c2430b;
    position: absolute;
    border-radius: 30px;
    left: 0px;
    width: 35px;
    height: 3px;
    left: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__list {
    position: relative;
    left: -100px;
    top: -30px; }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #c2430b;
    -webkit-box-shadow: 2px 2px 3px #3333;
    box-shadow: 2px 2px 3px #3333;
    position: absolute;
    width: 35px;
    border-radius: 30px;
    height: 3px;
    left: 3px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .header__burger:before {
    top: 0; }
  .header__burger:after {
    bottom: 0; }
  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 10px; }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 200;
    height: 400px;
    border-radius: 0px 0px 20px 0px;
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    background-color: #000;
    padding: 80px 0px 20px 50px;
    opacity: 0.8; }
  .header__menu.active {
    top: 0; }
  .header__list {
    position: relative;
    left: -40px;
    top: 5px;
    display: block; }
  .header__list li {
    margin: 0px 0px 32px 0px; } }

.container__content {
  text-align: center; }

.title {
  max-height: 2350px;
  max-width: 1270px;
  margin: 0 auto;
  position: relative; }

.text {
  position: relative;
  width: 0 auto;
  z-index: 11;
  top: 130px;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 11px;
  text-shadow: 0px 2px 2px #000; }

.text p {
  font-size: 25px;
  letter-spacing: 4px;
  line-height: 45px;
  font-weight: 300;
  letter-spacing: 1px; }

@media (max-width: 767px) {
  .text {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 13px;
    position: relative;
    z-index: 10;
    top: -30px; } }

.png {
  width: 100%;
  position: relative;
  bottom: 57px; }

@media (max-width: 767px) {
  .png {
    width: 100%;
    position: relative;
    bottom: 7px; } }

.png_fon {
  background: #000;
  position: relative;
  left: 205px;
  width: 70%;
  padding: 0px 0px 450px 0px;
  border-radius: 25px;
  opacity: 0.5; }

.png_fon__2 {
  width: 800px;
  position: relative; }

.png_fon_text {
  position: relative;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 0px 2px 2px #000; }

.png_fon_logo_1 {
  position: relative; }

.png_fon_logo_2 {
  position: relative;
  width: 300px; }

.png_fon_logo_3 {
  position: relative;
  width: 300px; }

.png_fon_logo_4 {
  width: 250px;
  position: relative; }

.block__info_sclass {
  position: relative;
  padding: 0px 0px 0px 0px;
  background-color: #454; }

.block__info_sclass_1 {
  position: relative; }

.block__info_img_fon_1 {
  position: relative;
  background: #000;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  opacity: 0.8; }

.block__info_img_text_1 {
  position: relative;
  width: 140px;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 14px;
  text-shadow: 0px 2px 2px #000;
  z-index: 1; }

.png_info_sclas_1 {
  width: 30%; }

.block__info_img_fon_2 {
  position: relative;
  background: #000;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  opacity: 0.8; }

.block__info_img_text_2 {
  position: relative;
  width: 140px;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 17px;
  text-shadow: 0px 2px 2px #000;
  z-index: 1; }

.png_info_sclas_2 {
  width: 30%; }

.block__info_img_fon_3 {
  position: relative;
  background: #000;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  opacity: 0.8; }

.block__info_img_text_3 {
  position: relative;
  width: 180px;
  font-family: "Montserrat";
  color: #ffff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 15px;
  text-shadow: 0px 2px 2px #000;
  z-index: 1; }

.png_info_sclas_3 {
  width: 30%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 100%;
  background-color: #333333;
  position: relative;
  color: #ffff;
  top: 150px; }

@media (max-width: 767px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 100%;
    background-color: #333333;
    position: relative;
    top: 220px;
    color: #ffff; } }

.footer__block {
  font-weight: 300;
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.footer__logo {
  position: relative;
  right: 100px;
  top: 20px;
  height: 100px;
  white-space: nowrap;
  font-size: 50px;
  font-weight: 900;
  font-family: "Britannic Bold"; }

.footer__logo p {
  position: relative;
  right: 55px;
  top: 0px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  letter-spacing: 2px;
  text-shadow: 0px 0px 0px; }

.footer_conect {
  position: relative;
  left: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: 1.5px;
  line-height: 21px; }

.footer_conect p {
  font-weight: 600; }

.footer_conect a {
  text-decoration: underline;
  color: #fff;
  font-size: 13px; }

.footer_conect a:hover {
  text-shadow: 0px 1px 2px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.footer_conect a:active {
  color: #8080;
  text-shadow: 0px 1px 0px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.footer__link {
  letter-spacing: 1px;
  position: relative;
  left: 150px; }

.link a {
  text-decoration: underline;
  color: #fff;
  line-height: 28px; }

.link a:hover {
  text-shadow: 0px 2px 2px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.link a:active {
  color: #8080;
  text-shadow: 0px 2px 0px #ffff;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.footer__links__logo {
  position: relative;
  top: 5px;
  left: -52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.footer__links__logo a:hover {
  -webkit-filter: drop-shadow(5px 5px 10px #ffff);
  filter: drop-shadow(0px 4px 3px #ffff);
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.footer__links__logo a:active {
  color: #8080;
  -webkit-filter: drop-shadow(0px 2px 0px #ffff);
  filter: drop-shadow(0px 2px px #ffff); }

@media (max-width: 767px) {
  .wrapper {
    height: 500px; }
  .footer__logo {
    position: relative;
    left: 165px; }
  .footer__link {
    display: none; }
  .footer_conect {
    height: 260px;
    width: 200px;
    text-align: center;
    position: relative;
    top: 150px;
    left: -145px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 2px;
    line-height: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 30px grey;
    box-shadow: 0px 2px 30px grey; } }
